name: pr
on:
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 15.x
            - uses: bahmutov/npm-install@v1
            - run: npm run test
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 15.x
            - uses: bahmutov/npm-install@v1
            - run: npm run lint:ci
    chromatic:
        needs: [test, lint]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 15.x
            - uses: bahmutov/npm-install@v1
            - run: npm run chromatic -- --exit-zero-on-changes --skip 'dependabot/**' --exit-once-uploaded
              env:
                  CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
